.top-bar {
  background-color: #251942;
  height: 70px;
  width: 1366px;
}
.bar div {
  height: 4px;
  background-color: #ffffff;
  margin: 5px 0;
  border-radius: 25px;
  margin-left: 6px;
  transition: 0.3s;
}
.bar {
  width: 30px;
  display: inline-block;
  margin: 1em 0 0 1em;
  vertical-align: 11px;
}
.one {
  width: 30px;
}
.two {
  width: 20px;
}
.bar:hover div {
  width: 30px;
}
body {
  margin: 0;
  opacity: 100%;
}
.main {
  width: 1366px;
  height: 3535px;
  background-color: #16032a;
}

.left-section {
  background-color: #251942;
  height: 633px;
  width: 300px;
  margin-top: -11px;
}
.left-top {
  height: 60px;
  width: 300px;
  background-color: #251942;
  margin-top: 2px;
}

.first-part {
  background-color: #21123a;
  height: 123px;
  width: 1008px;
  margin-top: -14px;
  margin-left: 326px;
}
#top-image {
  color: #251942;
  margin-top: 10px;
  margin-left: 31px;
  height: 50px;
  width: 153px;
}
#user-image,
.players {
  margin-left: 1040px;
  border-radius: 50%;
}

.second-part {
  background-color: #21123a;
  height: 846px;
  width: 1008px;
  margin-left: 325px;
  margin-top: 14px;
}
.fourth-part {
  background-color: #21123a;
  height: 846px;
  width: 1008px;
  margin-left: 0px;
  margin-top: 21px;
}
.fifth-part {
  background-color: #21123a;
  height: 846px;
  width: 1008px;
  margin-left: 0px;
  margin-top: 22px;
}
.third-part {
  background-color: #21123a;
  height: 600px;
  width: 1008px;
  margin-left: 0px;
  margin-top: 32px;
}

#angle {
  padding-top: 20px;
  display: inline-block;
  margin-left: 18px;
  margin-bottom: -16px;
}
/*****************footer section*******************************/

.next {
  height: 99px;
}

/******************** text top left************************* */

#new {
  margin-left: 18px;
  padding-top: -9px;
  color: #ffffff;
  margin-bottom: -9px;
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  font-weight: normal;
  display: inline-block;
}
#b-new {
  line-height: 0px;
  color: #ba32ff;
  font-family: "Rajdhani", sans-serif;
  margin-left: 56px;
  font-size: 14px;
  display: inline-block;
  margin-top: -16px;
}

#create {
  margin-left: 45px;
  padding-top: 32px;
  color: #ffffff;
  margin-bottom: -9px;
  font-family: "Rajdhani", sans-serif;
  font-size: 16px;
}
.setup {
  margin-left: 45px;
  padding-top: 12px;
  color: #ffffff;
  margin-bottom: -9px;
  font-family: "Rajdhani", sans-serif;
  margin-top: 17px;
  font-size: 14px;
  margin-bottom: 7px;
}
.top {
  color: #7c758d;
  padding-top: 5px;
  font-size: 14px;
  margin-left: 45px;
  font-size: 14px;
  line-height: 0;
}
#share {
  margin-left: 45px;
  padding-top: 20px;
  color: #ffffff;
  margin-bottom: 7px;
  font-family: "Rajdhani", sans-serif;
  font-size: 16px;
}
/********** right section navigation *****************/

.nav {
  margin-left: 0px;
  padding-top: 5px;
  color: #ffffff;
  margin-bottom: -9px;
  font-family: "Rajdhani", sans-serif;
  display: inline-block;
  margin-right: 38px;
  font-size: 16px;
  font-weight: bold;
}
#base {
  margin-left: 45px;
  padding-top: 11px;
  color: #ffffff;
  margin-bottom: -9px;
  font-family: "Rajdhani", sans-serif;
}
.menu {
  width: 1008px;
  height: 73px;
  background-color: #16032a;
  margin-top: -717px;
  margin-left: 326px;
}
.navigation {
  margin-top: 21px;
}
#help {
  margin-left: 440px;
  padding-top: 5px;
  color: #ba32ff;
  margin-bottom: -9px;
  font-family: "Rajdhani", sans-serif;
  display: inline-block;
  margin-right: 10px;
  font-size: 15px;
  font-weight: 400;
}
#f-para {
  margin-left: 30px;
  padding-top: 5px;
  color: #5637a2;
  margin-bottom: -9px;
  font-family: "Rajdhani", sans-serif;
  display: inline-block;
  margin-right: 38px;
  font-size: 15px;
  margin-top: 35px;
  font-weight: bold;
}

.f-text {
  margin-left: 19px;
  padding-top: 11px;
  color: #ffffff;
  margin-bottom: -9px;
  font-family: "Rajdhani", sans-serif;
  font-size: 16px;
  margin-top: 17px;
  font-weight: bold;
}

#f-sky {
  margin-left: 108px;
  padding-top: 38px;
  color: #ffffff;
  margin-bottom: -36px;
  font-family: "Rajdhani", sans-serif;
  margin-right: 38px;
  font-size: 25px;
  margin-top: -93px;
  font-weight: 600;
}

.f-input {
  margin-top: 20px;
  margin-left: 35px;
  width: 172px;
  height: 50px;
  border-radius: 5px;
  background-color: #21123a;
  border: 1px solid;
  color: #ffffff;
  border-color: #ba32ff;
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;

  margin-right: -15px;
}
.fr-input {
  margin-top: 20px;
  margin-left: 35px;
  width: 373px;
  height: 50px;
  border-radius: 5px;
  background-color: #21123a;
  border: 1px solid;
  color: #ffffff;
  border-color: #ba32ff;
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  margin-right: -15px;
}
.fs-input {
  margin-top: 20px;
  margin-left: 25px;
  width: 373px;
  height: 50px;
  border-radius: 5px;
  background-color: #21123a;
  border: 1px solid;
  color: #ffffff;
  border-color: #ba32ff;
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  margin-right: -15px;
}
.f-newinput {
  margin-top: 20px;
  margin-left: 30px;
  width: 464px;
  height: 50px;
  border-radius: 5px;
  background-color: #21123a;
  border: 1px solid;
  color: #ffffff;
  border-color: #ba32ff;
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  display: inline-block;
  margin-right: -15px;
  background-image: url(assets/Calendar.svg);
  background-repeat: no-repeat;
  background-position: 423px;
}
.s-text {
  margin-top: 31px;
  margin-left: 28px;
  width: 464px;
  height: 50px;
  border-radius: 5px;
  background-color: #21123a;
  border: 1px solid;
  color: #ffffff;
  border-color: #ba32ff;
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  display: inline-block;
  margin-right: -15px;
  background-image: url(assets/TeamBadge_Sample.png);
  background-repeat: no-repeat;
  background-position: 2px;
}

.sl-text {
  margin-top: 31px;
  margin-left: 28px;
  width: 464px;
  height: 50px;
  border-radius: 5px;
  background-color: #21123a;
  border: 1px solid;
  color: #ffffff;
  border-color: #ba32ff;
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  display: inline-block;
  margin-right: -15px;
  background-image: url(assets/TeamBadge_Sample.png);
  background-repeat: no-repeat;
  background-position: 425px;
}
.stl-text {
  margin-top: 31px;
  margin-left: 28px;
  width: 464px;
  height: 50px;
  border-radius: 5px;
  background-color: #21123a;
  border: 1px solid;
  color: #ffffff;
  border-color: #ba32ff;
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  display: inline-block;
  margin-right: -15px;
  background-image: url(assets/ATK.svg);
  background-repeat: no-repeat;
  background-position: 425px;
}
.str-text {
  margin-top: 31px;
  margin-left: 28px;
  width: 464px;
  height: 50px;
  border-radius: 5px;
  background-color: #21123a;
  border: 1px solid;
  color: #ffffff;
  border-color: #ba32ff;
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  display: inline-block;
  margin-right: -15px;
  background-image: url(assets/DEF.svg);
  background-repeat: no-repeat;
  background-position: 425px;
}
/*******footer-style************************/
.f-btn {
  margin-left: 877px;
  margin-top: 29px;
  background-color: #ba32ff;
  font-family: "Rajdhani", sans-serif;
  color: #ffffff;
  height: 50px;
  width: 128px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}
::placeholder {
  color: #5637a2;
  padding-left: 15px;
}

/********first part right**********/
#fr-image {
  width: 78px;
  height: 78px;
  margin-top: 16px;
  margin-left: 14px;
}

.player {
  margin-left: 0px;
  border-radius: 50%;
}

.column {
  float: left;
  border-radius: 50%;
  padding: 5px;
}
.row {
  margin-left: 807px;
}
.division {
  margin-top: 14px;
}

#user {
  margin-top: 64px;
  margin-left: 12px;
}

#f-row {
  margin-top: -100px;
  margin-left: 163px;
}
.p-para {
  color: #ffffff;
  font-family: "Rajdhani", sans-serif;
  font-weight: normal;
}

.players {
  vertical-align: -18px;
}
#s-row {
  margin-top: -112px;
  margin-left: 163px;
}
.s-txt {
  margin-left: 19px;
  padding-top: 11px;
  color: #ffffff;
  margin-bottom: -9px;
  font-family: "Rajdhani", sans-serif;
  font-size: 16px;
  margin-top: 17px;
  font-weight: bold;
}
#ranks {
  width: 200px;
  height: 100px;
  border: #eeedf3;
}
.r-text {
  margin-top: 31px;
  margin-left: 28px;
  width: 40px;
  height: 80px;
  border-radius: 5px;
  background-color: #21123a;
  border: 1px solid;
  color: #ffffff;
  border-color: #ba32ff;
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  display: inline-block;
  margin-right: -28px;
  background-image: url(assets/ATK_Ellimination.svg);
  background-repeat: no-repeat;
  background-position: 2px;
}

#down_arr {
  margin-top: 31px;
  margin-left: 28px;
  width: 40px;
  height: 80px;
  border-radius: 5px;
  background-color: #21123a;
  border: 1px solid;
  color: #ffffff;
  border-color: #ba32ff;
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  display: inline-block;
  margin-right: -28px;
  background-image: url(assets/Caret_Down.svg);
  background-repeat: no-repeat;
  background-position: 14px 48px;
}

.l-btn {
  margin-left: 30px;
  margin-top: 29px;
  background-color: #5637a2;
  font-family: "Rajdhani", sans-serif;
  color: #ffffff;
  height: 80px;
  width: 40px;
  border: none;
}
.l-btn {
  margin-left: 30px;
  margin-top: 29px;
  background-color: #ba32ff;
  font-family: "Rajdhani", sans-serif;
  color: #ffffff;
  height: 80px;
  width: 40px;
  border-radius: 2px;
  font-size: 21px;
  font-weight: bold;
}
.r-btn {
  margin-left: 742px;
  margin-top: 15px;
  background-color: #ba32ff;
  font-family: "Rajdhani", sans-serif;
  color: #ffffff;
  height: 50px;
  width: 128px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: normal;
}
.ls-btn {
  margin-left: 4px;
  margin-top: 36px;
  background-color: #ba32ff;
  font-family: "Rajdhani", sans-serif;
  color: #ffffff;
  height: 50px;
  width: 128px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: normal;
}
.point-1 {
  margin-top: 31px;
  margin-left: 28px;
  width: 40px;
  height: 80px;
  border-radius: 5px;
  background-color: #21123a;
  border: 1px solid;
  color: #ffffff;
  border-color: #ba32ff;
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  display: inline-block;
  margin-right: -28px;
  background-image: url(assets/ATK_Ellimination.svg);
  background-repeat: no-repeat;
  background-position: 8px 50px;
}
.point-2 {
  margin-top: 31px;
  margin-left: 28px;
  width: 40px;
  height: 80px;
  border-radius: 5px;
  background-color: #21123a;
  border: 1px solid;
  color: #ffffff;
  border-color: #ba32ff;
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  display: inline-block;
  margin-right: -28px;
  background-image: url(assets/DEF_Ellimination.svg);
  background-repeat: no-repeat;
  background-position: 8px 50px;
}
.point-3 {
  margin-top: 31px;
  margin-left: 28px;
  width: 40px;
  height: 80px;
  border-radius: 5px;
  background-color: #21123a;
  border: 1px solid;
  color: #ffffff;
  border-color: #ba32ff;
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  display: inline-block;
  margin-right: -28px;
  background-image: url(assets/DEF_Diffuse.svg);
  background-repeat: no-repeat;
  background-position: 8px 50px;
}
.point-4 {
  margin-top: 31px;
  margin-left: 28px;
  width: 40px;
  height: 80px;
  border-radius: 5px;
  background-color: #21123a;
  border: 1px solid;
  color: #ffffff;
  border-color: #ba32ff;
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  display: inline-block;
  margin-right: -28px;
  background-image: url(assets/ATK_Blow.svg);
  background-repeat: no-repeat;
  background-position: 8px 50px;
}
#r-button {
  margin-left: 38px;
  margin-top: 35px;
  background-color: #ba32ff;
  font-family: "Rajdhani", sans-serif;
  color: #ffffff;
  height: 50px;
  width: 173px;
  border-radius: 1px;
  font-size: 16px;
  font-weight: 600;
  display: inline;
}
